{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                </div>
                <img src="{{ object.preview | media_filter }}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{object.price}}₽</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{object.description | truncatechars:100}}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">назад</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}